@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --font-figtree: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;

  --color-accent-100: #00e7f9;
  --color-red-100: #fc004e;
  --color-gray-100: ##ababab;

  --text-xxs: 10px;
  --text-xxs-line-height: 10px;
  --text-xl-plus: 22px;
  --text-xl-plus-line-height: 22px;
  --text-2xl-plus: 25px;
  --text-2xl-plus-line-height: 25px;
  --text-4xl-minus: 35px;
  --text-4xl-minus--line-height: 35px;
}
